# TYPE CASTING

Type casting means converting one data type into another.

## converting other types to int

We can convert any type into another type except complex types.

If we want to convert str() to int(). 
str should only an integral value & sould be specified in decimal form.

In [9]:
print(int(10.5))
print(int(10+20j))
print(int(True))

10

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [11]:
print(int(True))

1

In [15]:
print(int(False))
print(int('100'))

0
100

In [19]:
print(int('10.5'))

ValueError: invalid literal for int() with base 10: '10.5'

# Converting from other typr to float

1. We can convert any type of value to a float except a complex type.

2. Whenever we are trying to convert str to float type compulsary str should be either integral or float literal.

In [24]:
float(10)

10.0

In [26]:
float(10+20j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [28]:
float(True)

1.0

In [30]:
float(False)

0.0

In [32]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [34]:
float('10')

10.0

# Convert other type to bool

if x is in data type

Zero (0) means False

Non-zero (Any Number) is True

In [40]:
bool(0)

False

In [42]:
bool(1)

True

### if x is a float data type

If the total number value is zero, then the result is False; otherwise True

In [54]:
bool(1.0)

True

In [56]:
bool(0.0)

False

### if x is a complex data type.

if both real and imaginary parts are zero then the result is false otherise result is True.

In [60]:
print(bool(0+0j))
print(bool(1+20j))
print(bool(0+20j))
print(bool(1+0j))

False
True
True
True

# Convert other type values to str type