# input()

The input() function is used to take input from the user during program execution.

### Whenever the user types is always received as a string (text), ever if they enter a number.

In [5]:
x = input('evter values')
type(x)

evter values 10

str

### Write a program to read 2 numbers from the keyboard & print sum

In [1]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))
print(f'The sum of {a} and {b} is {a+b}')

Enter 1st Number:  21
Enter 2nd Number:  89

The sum of 21 and 89 is 110

### How to read multiple values from the keyboard in a single line

In [8]:
a,b = [int(x) for x in input('Enter 2 Numbers:').split(",")]
print(f'Product of {a} and {b} is {a*b}')

Enter 2 Numbers: 123456789,147258369

Product of 123456789 and 147258369 is 18180045390117141

In [10]:
a,b = [int(x) for x in input('Enter 2 Numbers:').split(",")]
print(f'Product of {a} and {b} is {a*b}')

Enter 2 Numbers: 2,10

Product of 2 and 10 is 20

In [12]:
a,b,c = [float(x) for x in input('Enter 3 float number:').split(',')]
f'the product of {a} and {b} and {c} is {a*b*c}'

Enter 3 float number: 29.9,30.5,50.2

'the product of 29.9 and 30.5 and 50.2 is 45779.89'

# eval()

eval() function take string and eavaluate the result

eval() is a built-in Python function that evaluates a string as a Python expression and returns the result.

In [17]:
x = eval('10,20,30')
x

(10, 20, 30)

In [21]:
x = list(eval(input('enter list')))
x

enter list 20,30,50

[20, 30, 50]

In [23]:
list(x)

[20, 30, 50]

In [25]:
l = [20,30,40]
for x in l:
    print(x)

20
30
40

# Output Statements

We can use print() function to display output.

### Form-1

print() with out any argument just it print new line character.

In [31]:
print()

### Form-2

In [34]:
print('Hello World')

Hello World

In [36]:
#### \n -> New line
#### \t -> Horizontal Tab
#### \r -> Carriage Return
#### \b -> Back Space
#### \f -> Form Feed
#### \v -> Vertical Tab
#### \' -> Single Quote
#### \" -> Double Quote
#### \\ -> Back Slash Symbol

In [38]:
# we can use escape characters also
print('Hello \n world') # New line

Hello
 world

In [40]:
print('Hello \t world') # Horizontal Tab

Hello 	 world

In [42]:
print('Hello \r world') # Carriage Return

 world

### Form-3

In [45]:
# print() with variable number of arguments
a,b,c = 10,20,30
print('The Values are:',a,b,c)

The Values are: 10 20 30

by default output values are seperated by space. if we want we can specify seperator by usig 'sep' attribute

In [49]:
print(a,b,c,sep=' - ')

10 - 20 - 30

### Form -4 print() with end attribute

In [52]:
print('Preet')
print('Learning')
print('DS')

Preet
Learning
DS

In [54]:
print('Preet',end=' ') # if we want output in the same line.
print('Learning',end=' ')
print('DS')

Preet Learning DS

### Using .format()

In [57]:
name = "Preet"
age = 23
print("My name is {} and I am {} years old.".format(name, age))

My name is Preet and I am 23 years old.

#### Using f-strings (Recommended in Python 3.6+)