# LIST

1) List is an ordered sequence of items.
2) We can have differnt data types under a list. (Eg: We can have Integer, Float & String itmens in a same list)

# LIST CREATION

1) A LIST is like a container or a basket that can hold many things together.

2) LIST CREATION is when you make that basket and put items inside it.

In [8]:
list1 = [] # Empty List

In [10]:
print(type(list1))

<class 'list'>

In [12]:
list2 = [10,30,60] # List of Integer Number

In [14]:
list3 = [10.77 , 30.66 , 69.69] # List of Float number

In [16]:
list4 = ['one' , 'two' , 'three'] # List of Strings

In [18]:
list5 = ['Preet' , 25 , [50,100] , [150,90]] # Nested List

In [20]:
list6 = [100 , 'Preet' , 17.765] # List of Mixed Data Types

In [22]:
list7 = ['Preet' , 25 , [50,100] , [150,90] , {'John' , 'David'}]

In [24]:
len(list6) #Length of List

3

# LIST INDEXING

In [27]:
list2[0] # Retrive first element of the list

10

In [29]:
list4[0] # Retrive first element of the list

'one'

In [31]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [33]:
list5[2][0] # Nested indexing - Access the first character of the third list element

50

In [35]:
list4[-1] # Last element of the list

'three'

In [37]:
list5[-1] # Last element of the list

[150, 90]

# LIST SLICING
mylist[ start : stop : step ]

In [40]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [46]:
mylist[0:3] #Return all itmes from 0th to 3ed index loaction, exclud's the remaining items

['one', 'two', 'three']

In [48]:
mylist[2:5] # Return all itmes from 2nd to 5th index loaction

['three', 'four', 'five']

In [50]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [52]:
mylist[:2] # Returns first two items

['one', 'two']

In [58]:
mylist[-3:] # Returns last three items

['six', 'seven', 'eight']

In [56]:
mylist[-2:] # Reeturns last two items

['seven', 'eight']

In [60]:
mylist[-1:] # Returns last item of the list

['eight']

In [62]:
mylist[:] # Returns whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [64]:
mylist[::2] # Returns whole list with one gaps

['one', 'three', 'five', 'seven']

# ADD , REMOVE & CHANGE ITEMS

In [67]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [115]:
mylist.append('nine') # Add an item in the end of the list 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [117]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [119]:
mylist.insert(1,'PREET') # Add item at index location 1 
mylist

['one',
 'PREET',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [121]:
mylist.remove('PREET') #Remove item "PREET"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [123]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [125]:
mylist.pop(8) # Remove item at index location 8 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [127]:
del mylist[7] # Remove item at index loaction 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [133]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [135]:
mylist.clear() # Empty list / Delete all items in the list
mylist

[]

In [137]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

# COPY LIST

In [6]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine' , 'ten']

In [8]:
mylist1 = mylist # Create a new referance "mylist1"

In [10]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be same

(2202916423360, 2202916423360)

In [14]:
mylist2 = mylist.copy() # Create a copy of list

In [16]:
id(mylist2) # The address of mylist2 will be different from mylist

2202915943168

In [18]:
mylist[0] = 1

In [20]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [26]:
mylist1 # mylist1 will be also imopacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [28]:
mylist2 # Copy of list won't be impact due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

# JOIN LISTS

In [31]:
list1 = ['one' , ' two' , 'three' , 'four']
list2 = ['five' , 'six' , 'seven' , 'eight']

In [35]:
list3 = list1 + list2 # Join two lists by '+' operator 
list3

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
list1.extend(list2) # Append list2 with list1 
list1

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# LIST MEMBERSHIP

In [56]:
list1

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [58]:
'one' in list1 # Check if 'one' exist in the list

True

In [60]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [64]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [66]:
if 'eleven' in list1: # Check if 'eleven" exist in the list
    print('Eleven is present in the list')
else:
    print('Eleven is not present in the list')

Eleven is not present in the list

# REVERSE & SORT LIST

In [69]:
list1

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [71]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', ' two', 'one']

In [77]:
list1 = list1[::-1] # Reverse the list
list1

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [87]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() #Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [89]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order  
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [91]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)   # Retuns a new list and doesn't change origial list

[11, 21, 33, 65, 88, 98]

In [93]:
mylist4

[88, 65, 33, 21, 11, 98]

# LOOP THROUGH A LIST

In [96]:
list1

['one', ' two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [98]:
for i in list1:
    print(i)

one
 two
three
four
five
six
seven
eight

In [102]:
for i in enumerate(list1): # enumerate() gives index and value while looping
    print(i)

(0, 'one')
(1, ' two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# COUNT

In [105]:
list10 = ['one' , 'two' , 'three' , 'four' , 'one' , 'one' , 'two' , 'three']

In [107]:
list10.count('one') # Number of items "one" occuring in the list

3

In [109]:
list10.count('two') # Occurence of item 'two' in the list

2

In [111]:
list10.count('four') # Occurence of item 'four' in the list

1

# ALL / ANY

The **all()** method returns:
1. **True** - If all elements in a list are true
2. **False** - If any element in a list is false

The **any** function returns True if any element in the list is True. If not, any() returns False

In [119]:
L1 = [1,2,3,4,0]

In [121]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [123]:
any(L1) # Will Return True as we have items in the list with True value

True

In [125]:
L2 = [1,2,3,4,True,False]

In [127]:
all(L2) # Returns false as one value is false

False

In [129]:
any(L2) # Will Return True as we have items in the list with True value

True

In [131]:
L3 = [1,2,3,True]

In [133]:
all(L3) # Will return True as all items in the list are True

True