# TUPLE

A tuple is an ordered, immutable collection of items in Python, defined using parentheses ()

 1. Tuple are defined using ()
 2. Tuples are Immutable
 3. Tuples are Faster than Lists

# TUPLE CREATION

In [7]:
tup1 = () # Empty Tuple

In [9]:
tup2 = (10,30,60) # Tuple of integers numbers

In [11]:
tup3 = (10.77,30.66,6,89) # Tuple of Float Number

In [13]:
tup4 = ('one' , 'two' , 'three') # Tuple of strings

In [15]:
tup5 = ('Preet' , 25 , (50,100) , (150,90)) # Nested Tuple

In [17]:
tup6 = (100, 'Preet', 17.765) # Tuple of mixed data types

In [19]:
tup7 = ('Preet', 25 , [50, 100] , [150, 90] , {'John' , 'David'} , (99,22,33))

In [21]:
len(tup7) # Length of List

6

# TUPLE INDEXING

In [24]:
tup2[0] # Retrive first element of thr tuple

10

In [26]:
tup4[0] # Retrive first element of thr tuple

'one'

In [28]:
tup4[0][0] # Nested indexing - Access the first charcter of the first tuple element

'o'

In [30]:
tup4[-1] # last item of the tuple

'three'

In [32]:
tup5[-1] # last item of the tuple

(150, 90)

# TUPLE SLICING

In [67]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [37]:
mytuple[0:3] # Return all items from 0th to 3ed index Location Excluding the items

('one', 'two', 'three')

In [39]:
mytuple[2:5] # Return all items from 0th to 3ed index Location Excluding the items

('three', 'four', 'five')

In [41]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [43]:
mytuple[:2] # Return first two items

('one', 'two')

In [45]:
mytuple[-3:] # Returns last three items

('six', 'seven', 'eight')

In [47]:
mytuple[-2:] # Returns last two items

('seven', 'eight')

In [49]:
mytuple[-1:] # Returns last item of the tuple

('eight',)

In [51]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# REMOVE & CHNAGE ITEMS

In [54]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [58]:
del mytuple[0] # Tuple are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [60]:
del mytuple[0] = 1 # Tuple are immutable which means we can't CHANGE tuple items

SyntaxError: invalid syntax (459922107.py, line 1)

In [62]:
del mytuple # Deleting entire tuple object is possible

# LOOP THROUGH A TUPLE

In [69]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [71]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [73]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# TUPLE MEMBERSHIP

In [76]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [78]:
'one' in mytuple # Check if 'one' exist in the list

True

In [80]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [86]:
if 'three' in mytuple: # Check if 'three'exeist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [88]:
if 'eleven' in mytuple: # Check if 'eleven'exeist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# INDEX POSITION

In [91]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [93]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [95]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [99]:
mytuple1 = ('one' , 'two' , 'three' , 'four' , 'one' , ' one' , 'two' , 'three')
mytuple1

('one', 'two', 'three', 'four', 'one', ' one', 'two', 'three')

In [101]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# SORTING

In [104]:
mytuple2 = (43,67,99,12,6,90,67)

In [106]:
sorted(mytuple2) # Returns a new sorted list & doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [108]:
sorted(mytuple2 , reverse=True) # Sort is desceding order

[99, 90, 67, 67, 43, 12, 6]