# SET & DICTIONARY

SET & DICT both are denoted with {}

{} -- bydefault it is dictionary

If we create set() & then we work {} it becomes set .

In [17]:
s = {} #Empty 
type(s)

dict

In [19]:
s1 = set() #Empty SET
s1

set()

In [21]:
s1 = {90, 4 , 50 , 32 , 3 , 1}
s1

{1, 3, 4, 32, 50, 90}

In [27]:
type(s1)

set

1. If you define random number IN SET (all are similar datatype)
2. SET : SET is ORDERED and Non ORDERES

In [29]:
s2 = {'z' , 'm' , 'a' , 'o' , 'd'}
s2

{'a', 'd', 'm', 'o', 'z'}

In [31]:
type(s2)

set

In [33]:
print(s1)
print(s2)

{32, 1, 50, 3, 4, 90}
{'z', 'd', 'o', 'a', 'm'}

In [35]:
len(s2)

5

In [39]:
s3 = {1, 3.2 ,'nit' , 1+2j , True}
s3

{(1+2j), 1, 3.2, 'nit'}

# FUNCTION of SET

In [44]:
s1.add(1) # ADD FUNCTION

In [46]:
s1

{1, 3, 4, 32, 50, 90}

In SET **DUPLICATE** is not allowed

In [52]:
s1.add(100)
s1

{1, 3, 4, 32, 50, 90, 100}

In [54]:
s1.add(5)
s1

{1, 3, 4, 5, 32, 50, 90, 100}

In [56]:
print(s1)

{32, 1, 50, 3, 4, 100, 5, 90}

In [58]:
s3

{(1+2j), 1, 3.2, 'nit'}

In [72]:
s3.clear() # CLEAR FUNCTION

In [62]:
s3

set()

In [74]:
s4 = s1.copy() # COPY FUNCTION
s4

{1, 3, 4, 5, 32, 50, 90, 100}

In [76]:
s1

{1, 3, 4, 5, 32, 50, 90, 100}

In [78]:
s1[0]

TypeError: 'set' object is not subscriptable

### Indexing & SLicing are not allowed in SET

In [84]:
s1

{1, 3, 4, 5, 32, 50, 90, 100}

In [88]:
s1.pop() # POP FUNCTION

1

### POP Function POP's Random numbers

In [91]:
s1.pop(0)

TypeError: set.pop() takes no arguments (1 given)

In [93]:
s1

{3, 4, 5, 50, 90, 100}

In [103]:
s1.remove(5) # REMOVE FUNCTION
s1

{3, 50, 90, 100}

In [101]:
s1.remove(1000)
s1

KeyError: 1000

In [115]:
s1.discard(1000) # DISCARD FUNCTION

In [105]:
s1.discard(3)

In [107]:
s1

{50, 90, 100}

### remove() - remove the element if element is memeber, not memeber then through an error

### discard() - remove the element if element is memeber , not member never show you the error

In [113]:
s1.add(1000)
s1

{50, 90, 100, 1000}

# SET OPERATIONS

1. union
2. intersect
3. difference
4. symmetric difference
5.

## 1) UNION

In [119]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [121]:
a.union(b) # UNION SET OPERATION

{1, 2, 3, 4, 5, 6, 7, 8}

In [123]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### union symbol = |

In [126]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [128]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [130]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## 2) INTERSECTION

In [133]:
a.intersection(b)

{4, 5}

In [135]:
a.intersection(c)

set()

#### Intersection symbol = &

In [141]:
a & b

{4, 5}

## 3) DIFFERENCE

In [148]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [150]:
a.difference(b)

{1, 2, 3}

In [152]:
b.difference(a)

{6, 7, 8}

#### Difference symbol = -

In [155]:
b - c

{4, 5, 6, 7}

## 4) Difference Update

In [166]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [168]:
b.difference_update(c)

In [170]:
b

{4, 5, 6, 7}

## 5) SYMMETRIC DIFFERENCE

In [173]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7}
{8, 9, 10}

In [175]:
a.symmetric_difference(b) #COMMON REOMVED

{1, 2, 3, 6, 7}

#### SYMMETRIC DIFFERENCE symbol = ^

In [178]:
a^b

{1, 2, 3, 6, 7}

# Superset, Subset, Disjoint

1. Superset -- DAD
2. Subset -- SON
3. Disjoint -- Neighbour

In [3]:
a1 = {1,2,3,4,5,6,7,8,9}
b1 = {3,4,5,6,7,8}
c1 = {10,20,30,40}

In [5]:
a1.issuperset(b1)

True

In [7]:
b1.issubset(b1)

True

In [9]:
c1.isdisjoint(a1) # No Connection with a1

True

In [11]:
b1.isdisjoint(a1)

False

In [13]:
b1.isdisjoint(c1)

True

In [15]:
a2 = {1,2,3,4,5,6,7,8,9}
b2 = {35,45,55,65,75,58}
c2 = {10,20,30,40}

In [17]:
a2.isdisjoint(b2)

True

In [19]:
a2.issubset(b2)

False

### OTHER BUILDIN FUNCTION

In [2]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [4]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
sum(A)

45

In [9]:
max(A)

9

In [12]:
min(A)

1

In [14]:
len(A)

9

In [17]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [19]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# DICTIONARY

Dictionary the value is stored in **Key : Value** pair

In dictionary -- more priority will goes to **Keys**, Values can be duplicates but key can't be duplicate

Dict is **MUTABLE**

In [28]:
d = {}
d

{}

In [30]:
type(d)

dict

In [42]:
d1 = {1:'one' , 2:'two' , 3:'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [39]:
d1.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 2, 3])

In [41]:
d1.values() # Access each key-value pair within a dictionary

dict_values(['one', 'two', 'three'])

In [43]:
d1.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [44]:
d1[0]

KeyError: 0

#### Indeing is not Allowed insted of that call **KEYS**

## Accessing Items

In [46]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [50]:
d1.get(1)# Access item using get() method

'one'

In [52]:
d1.get(2)

'two'

In [54]:
d1.get(3)

'three'

In [50]:
d1.get(4) # there is no key for 4

In [54]:
mydict1 = {'Name':'Preet' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Preet', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [56]:
mydict1['Name'] # Access item using key

'Preet'

In [58]:
mydict1.get('job') # Access item using get() method

'Analyst'

In [58]:
for i in d1:
    print(i)

1
2
3

In [60]:
for i in d1:
    print(i , ':' , d1[i])

1 : one
2 : two
3 : three

In [25]:
mydict = { 1:'one' , 2:'two' , 'A':['preet' , 'vaibhav' , 'Mohit'] , 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['preet', 'vaibhav', 'Mohit'],
 'B': ('Bat', 'cat', 'hat')}

In [29]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)  # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'a': None, 'c': None, 'b': None}

In [31]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'a': 10, 'c': 10, 'b': 10}

In [33]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [35]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

## Add, Remove & Change Items

In [90]:
mydict1 = {'Name':'Preet' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Indore'}
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Indore'}

In [92]:
mydict1['DOB'] = 2002 # Changing Dictionary Items
mydict1['Address'] = 'Bhopal'
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Bhopal'}

In [94]:
dict1 = {'DOB' : 2003}
mydict1.update(dict1)
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2003, 'Address': 'Bhopal'}

In [96]:
mydict1['Job'] = 'AI Engineer' # Adding items in the Dictionary
mydict1

{'Name': 'Preet',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'Bhopal',
 'Job': 'AI Engineer'}

In [98]:
mydict1.pop('Job') # Removing items in the dictionary using POP Method
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2003, 'Address': 'Bhopal'}

In [100]:
mydict1.popitem() # A random item is removed

('Address', 'Bhopal')

In [102]:
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2003}

In [104]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Preet', 'DOB': 2003}

In [106]:
mydict1.clear() # Delete all items of the dictionary using clean method 
mydict1

{}

In [108]:
del mydict1 # Delete the dictionay object
mydict1

NameError: name 'mydict1' is not defined

## COPY DICTIONARY

In [142]:
mydict = {'Name':'Preet' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Indore'}
mydict

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Indore'}

In [144]:
mydict1 = mydict # Create a new reference "mydict1"

In [146]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2098575168576, 2098575168576)

In [148]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [150]:
id(mydict2) # The address of mydict2 will be different from mydict

2098550831232

In [152]:
mydict['Address'] = 'Bhopal'

In [154]:
mydict

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Bhopal'}

In [156]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Bhopal'}

In [158]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Address': 'Indore'}

## Loop through a Dictionary

In [161]:
mydict1 = {'Name':'Preet' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Indore' , 'Job' : 'AI Engineer'}
mydict1

{'Name': 'Preet',
 'ID': 12345,
 'DOB': 2002,
 'Address': 'Indore',
 'Job': 'AI Engineer'}

In [163]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Preet
ID : 12345
DOB : 2002
Address : Indore
Job : AI Engineer

In [165]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Preet
12345
2002
Indore
AI Engineer

## Dictionary Membership

In [168]:
mydict1 = {'Name':'Preet' , 'ID': 12345 , 'DOB': 2002  , 'Job' : 'AI Engineer'}
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Job': 'AI Engineer'}

In [170]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [172]:
'Preet' in mydict1 # Membership test can be only done for keys.

False

In [174]:
'ID' in mydict1

True

In [176]:
'Address' in mydict1

False

## All / Any

The all() method returns:

1. **True** - If all keys of the dictionary are true
2. **False** - If any key of the dictionary is false

The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [182]:
mydict1 = {'Name':'Preet' , 'ID': 12345 , 'DOB': 2002  , 'Job' : 'AI Engineer'}
mydict1

{'Name': 'Preet', 'ID': 12345, 'DOB': 2002, 'Job': 'AI Engineer'}

In [184]:
all(mydict1) # Will Return false as one value is false (Value 0)

True