# LOOPS

Loops in Python are used to repeat actions efficiently. The main types are: 
+ For loops (counting through items)
+ While loops (based on conditions)

# For Loop

+ For loops is used to iterate over a sequence such as a list, tuple, string or range. It allow to execute a block of code repeatedly, once for each item in the sequence.

In [7]:
# Example

fruits = ["apple" , "banana" , "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

### Looping Through a String
+ Even strings are iterable objects, they contain a sequence of characters:

In [11]:
# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

### The break Statement
+ With the break statement we can stop the loop before it has looped through all the items:

In [17]:
# BREAK STATEMENT 

fruits = ["apple" , "banana" , "mango" , "grapes" , "cherry"]

for x in fruits:
    print(x)
    if x == "mango":
        break

apple
banana
mango

In [27]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple" , "banana" , "mango" , "grapes" , "cherry"]

for x in fruits:
  if x == "mango":
    break
  print(x)

apple
banana

### The continue Statement

+ With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [33]:
# Do not print banana:

fruits = ["apple" , "banana" , "mango" , "grapes" , "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
mango
grapes
cherry

### The range() Function

+ To loop through a set of code a specified number of times, we can use the range() function,
+ The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [39]:
# Using the range() function:

for x in range(6):
    print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [42]:
# Using the start parameter:
for x in range(2,6):
    print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [45]:
# Increment the sequence with 3 (default is 1):
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop
+ The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [53]:
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally Finished!")

0
1
2
3
4
5
Finally Finished!

In [55]:
# Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
    if x == 3:
        break
    print(x)   
else:
    print("Finally Finished!")

0
1
2

### Nested Loops
+ A nested loop is a loop inside a loop.+ 
The "inner loop" will be executed one time for each iteration of the "outer loop":

In [58]:
# Print each adjective for every fruit:

adj = ["red" , "big" , "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [62]:
# print table from 1 to 10

for i in range(1,11):
    for j in range (i, i*10+1 , i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### The pass Statement

+ for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [5]:
for x in [0, 1, 2]:
  pass

In [11]:
for letter in 'DataScience':
    pass
print('Last Letter :', letter)

Last Letter : e

# The while Loop

+ With the while loop we can execute a set of statements as long as a condition is true.

In [16]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The break Statement
+ With the break statement we can stop the loop even if the while condition is true:

In [23]:
# Exit the loop when i is 3:
i = 1 
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

### The continue Statement
+ With the continue statement we can stop the current iteration, and continue with the next:

In [26]:
# Continue to the next iteration if i is 3:
i  = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

### The else Statement
+ With the else statement we can run a block of code once when the condition no longer is true:

In [33]:
# Print a message once the condition is false:
i = 1
while i < 6:
    print(i)
    i += 1
else: 
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6